apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-flfzpsqf
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-flfzpsqf:073128d6d0682892ee3e7a8d42b8835ef71267ed@sha256:2155f1291d210c9bdf908cdf9d979135eaddd87c207a1ade986a7dfe40624df2
          name: container-image
